* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// CONTAINER
.container {
  max-width: 1200px;
  margin: auto;
}

// TYPO
body {
  font-family: $main-font;
}

h2 {
  text-transform: uppercase;
  color: $main-title;
  font-size: $title-2;
  font-weight: $semibold;
}
