* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// CONTAINER
.container {
  max-width: 1200px;
  margin: auto;
}

// TYPO
body {
  font-family: $font-main;
}

h2 {
  text-transform: uppercase;
  color: $color-pasta-type;
  font-size: $size-pasta-type;
  font-weight: $weight-pasta-type;
}
