header {

  .logo {
    padding: 50px 0;
    text-align: center;
  }

  .header-navbar {

    .main-menu {

      @include menu-inline;
      justify-content: center;

      li {
        margin: 0 10px;

        a {
          color: $color-menu-text;
          text-decoration: none;
          font-size: $size-menu-text;
          font-weight: $weight-menu-text;
          padding: 25px 10px;
          display: inline-block;
        }
      }

      .active {
        background-color: $bg-current-page;
      }

    }
  }
}
