.pasta-section {
  padding: 60px 0 40px;
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-position: center bottom;

  .pasta-menu {
    @include menu-inline;
    flex-wrap: wrap;

    li {
      width: calc((100% - 30px) / 3);
      margin: 5px;

      img {
        width: 100%;
      }

      h3 {

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}
