// Color
$header-menu-text: #000;
$header-menu-selected: #B3E5FC;
$main-title: #002D73;
$footer-text: #848D9B;

// Font-family
$main-font: 'Open Sans', sans-serif;

// Font-weight
$regular: 400;
$semibold: 600;
$bold: 700;

// Font-size
$title-2: 38px;
