// Color
$color-menu-text: #000;
$color-pasta-type: #002D73;
$color-footer-text: #848D9B;

// Background-color
$bg-current-page: #B3E5FC;

// Font-family
$font-main: 'Open Sans', sans-serif;

// Font-weight
$weight-pasta-type: 600;
$weight-menu-text: 700;

// Font-size
$size-pasta-type: 38px;
$size-menu-text: 28px;
